$light-text-color: #3700b3;
$light-buttoncolor: #bb86fc;
$light-backgroundcolor: #ffffffe6;

$dark-text-color: #bb86fc;
$dark-buttoncolor: #3600b3a5;
$dark-backgroundcolor: #121212d1;
$dark-bodycolor: #323232;

$correct-color: #03dac5c9;
$incorrect-color: #cf6679c7;

$font-family: "poppins", sans-serif;