$light-text-color: #3700b3;
$light-buttoncolor: #bb86fc;
$light-backgroundcolor: #ffffff;

$dark-text-color: #bb86fc;
$dark-buttoncolor: #3700b3;
$dark-backgroundcolor: #121212;

$correct-color: #03DAC5;
$incorrect-color: #CF6679;

$font-family: "poppins", sans-serif;