* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(187, 134, 252, 0.5137254902);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-container h1 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
}
.homepage-container p {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.homepage-container .name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.homepage-container .name-input input {
  width: 200px;
  height: 30px;
  border: solid 2px #3700b3;
  border-radius: 5px;
  padding: 5px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
.homepage-container .name-input button {
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.quiz-content .question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.quiz-content .question-container h2 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}
.quiz-content .question-container h3 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.quiz-content .option-btn {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.quiz-content .option-btn.correct {
  background-color: #03DAC5;
}
.quiz-content .option-btn.incorrect {
  background-color: #CF6679;
}
.quiz-content .next-btn {
  width: 200px;
  height: 40px;
  background-color: #03DAC5;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.result-section h2 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}
.result-section h3 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.result-section p {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.result-section .restart-button {
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.result-section .result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-section .result-list li {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */