@import "partials/_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bb86fc83;
}
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color:$light-backgroundcolor;
    padding: 20px;
    border-radius: 10px
    
}
.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 26px;
        font-weight: 400;
        margin-top: 20px;
    }
    p {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    .name-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        input {
            width: 200px;
            height: 30px;
            border: solid 2px $light-text-color;
            border-radius: 5px;
            padding: 5px;
            font-family: $font-family;
            font-size: 16px;
            margin-top: 10px;
        }
        button {
            width: 200px;
            height: 40px;
            background-color: $light-buttoncolor;
            color: #121212;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 20px 0px;
            font-family: $font-family;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
.hidden {
    display: none;
}
.quiz-content {
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        h2 {
            font-family: $font-family;
            color: $light-text-color;
            font-size: 20px;
            font-weight: 400;
            margin-top: 20px;
            text-align: center;
        }
        h3 {
            font-family: $font-family;
            color: $light-text-color;
            font-size: 16px;
            font-weight: 300;
            margin-top: 20px;
            text-align: center;
        }
    }
    .option-btn {
        display: block;
        width: 200px;
        height: 40px;
        background-color: $light-buttoncolor;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 20px 0px;
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
   &.correct {
        background-color: $correct-color;
        
      }
    
      &.incorrect {
        background-color: $incorrect-color;
        
      } 
    }
    .next-btn{
        width: 200px;
        height: 40px;
        background-color: $correct-color;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;     
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
    }
}
.result-section  {

    h2 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
    }
    h3 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    p {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    .restart-button {
        width: 200px;
        height: 40px;
        background-color: $light-buttoncolor;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 20px 0px;
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
    
    }
}