@import "partials/_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bb86fc83;
}
.light-video  {
    position: fixed;
    width: 100%;
    z-index: -1;
}
.dark-video {
    display: none;
}
.dark-mode .light-video {
    display: none;
}
.dark-mode .dark-video {
    display: block;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.dark-mode {
  background-color: $dark-bodycolor;
}
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    
    background-color: $light-backgroundcolor;
    padding: 20px;
    border-radius: 10px;
    

    .darkmode {  
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;

        svg {
            width: 24px; 
            height: 24px;
            fill: darkgray;
        }
    }
    .sun-icon {
        display: none;
    }
    .moon-icon {
        display: block;
    }
}

.dark-mode .quiz-container {
    background-color: $dark-backgroundcolor;

    .sun-icon {
        display: block;
    }
    .moon-icon {
        display: none;
    }
}
.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 26px;
        font-weight: 400;
        margin-top: 20px;
    }
    p {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    .name-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        input {
            width: 200px;
            height: 30px;
            border: solid 2px $light-text-color;
            border-radius: 5px;
            padding: 5px;
            font-family: $font-family;
            font-size: 16px;
            margin-top: 10px;
            color: $light-text-color;
        }
        button {
            width: 200px;
            height: 40px;
            background-color: $light-buttoncolor;
            color: #121212;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 20px 0px;
            font-family: $font-family;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
.dark-mode .homepage-container {
    h1 {
        color: $dark-text-color;
    }
    p {
        color: $dark-text-color;
    }
    .name-input {
        input {
            border: solid 2px $dark-text-color;
            background-color: $dark-backgroundcolor;
            color: $dark-text-color;
        }
        button {
            background-color: $dark-buttoncolor;
            color: white;
        }
    }
}
.hidden {
    display: none;
}
.quiz-content {
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        h2 {
            font-family: $font-family;
            color: $light-text-color;
            font-size: 20px;
            font-weight: 400;
            margin-top: 20px;
            text-align: center;
        }
        h3 {
            font-family: $font-family;
            color: $light-text-color;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
        }
    }

    .option-btn {
        display: block;
        width: 200px;
        height: 40px;
        background-color: $light-buttoncolor;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 20px 0px;
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
   &.correct {
        background-color: $correct-color;
        
      }
    
      &.incorrect {
        background-color: $incorrect-color;
        
      } 
    }
    .dark-mode & .option-btn {
        background-color: $dark-buttoncolor;
        color: white;
        
        &.correct {
            background-color: $correct-color;
        }
        &.incorrect {
            background-color: $incorrect-color;
        }
    }
    .dark-mode & .question-container {
        h2 {
            color: $dark-text-color;
        }
        h3 {
            color: $dark-text-color;
        }
    }
    .next-btn{
        width: 200px;
        height: 40px;
        background-color: $correct-color;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;     
        font-family: $font-family;
        font-size: 16px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .dark-mode & .next-btn {
        
        color: white;
    }
}
.result-section  {

    

    h2 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
    }
    h3 {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    p {
        font-family: $font-family;
        color: $light-text-color;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        text-align: center;
    }
    .restart-button {
        width: 200px;
        height: 40px;
        background-color: $light-buttoncolor;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 20px 0px;
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
    
    }
    .result-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        li {
            list-style: none;
            font-family: $font-family;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            text-decoration: none;
        }
    }
    .result-button {
        background-color: $light-buttoncolor;
        color: #121212;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: $font-family;
        font-size: 16px;
        cursor: pointer;
    }
    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.dark-mode .result-section {
    h2 {
        color: $dark-text-color;
    }
    h3 {
        color: $dark-text-color;
    }
    p {
        color: $dark-text-color;
    }
    .restart-button {
        background-color: $dark-buttoncolor;
        color: white;
    }
    .result-button {
        background-color: $dark-buttoncolor;
        color: white;
    }
    .result-list {
        li {
            color: $dark-text-color;
        }
    }
    
}
