* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(187, 134, 252, 0.5137254902);
}

.light-video {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.dark-video {
  display: none;
}

.dark-mode .light-video {
  display: none;
}

.dark-mode .dark-video {
  display: block;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.dark-mode {
  background-color: #323232;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.9019607843);
  padding: 20px;
  border-radius: 10px;
}
.quiz-container .darkmode {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.quiz-container .darkmode svg {
  width: 24px;
  height: 24px;
  fill: darkgray;
}
.quiz-container .sun-icon {
  display: none;
}
.quiz-container .moon-icon {
  display: block;
}

.dark-mode .quiz-container {
  background-color: rgba(18, 18, 18, 0.8196078431);
}
.dark-mode .quiz-container .sun-icon {
  display: block;
}
.dark-mode .quiz-container .moon-icon {
  display: none;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-container h1 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
}
.homepage-container p {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.homepage-container .name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.homepage-container .name-input input {
  width: 200px;
  height: 30px;
  border: solid 2px #3700b3;
  border-radius: 5px;
  padding: 5px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  color: #3700b3;
}
.homepage-container .name-input button {
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.dark-mode .homepage-container h1 {
  color: #bb86fc;
}
.dark-mode .homepage-container p {
  color: #bb86fc;
}
.dark-mode .homepage-container .name-input input {
  border: solid 2px #bb86fc;
  background-color: rgba(18, 18, 18, 0.8196078431);
  color: #bb86fc;
}
.dark-mode .homepage-container .name-input button {
  background-color: rgba(54, 0, 179, 0.6470588235);
  color: white;
}

.hidden {
  display: none;
}

.quiz-content .question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.quiz-content .question-container h2 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}
.quiz-content .question-container h3 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.quiz-content .option-btn {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.quiz-content .option-btn.correct {
  background-color: rgba(3, 218, 197, 0.7882352941);
}
.quiz-content .option-btn.incorrect {
  background-color: rgba(207, 102, 121, 0.7803921569);
}
.dark-mode .quiz-content .option-btn {
  background-color: rgba(54, 0, 179, 0.6470588235);
  color: white;
}
.dark-mode .quiz-content .option-btn.correct {
  background-color: rgba(3, 218, 197, 0.7882352941);
}
.dark-mode .quiz-content .option-btn.incorrect {
  background-color: rgba(207, 102, 121, 0.7803921569);
}
.dark-mode .quiz-content .question-container h2 {
  color: #bb86fc;
}
.dark-mode .quiz-content .question-container h3 {
  color: #bb86fc;
}
.quiz-content .next-btn {
  width: 200px;
  height: 40px;
  background-color: rgba(3, 218, 197, 0.7882352941);
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
.dark-mode .quiz-content .next-btn {
  color: white;
}

.result-section h2 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}
.result-section h3 {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.result-section p {
  font-family: "poppins", sans-serif;
  color: #3700b3;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.result-section .restart-button {
  width: 200px;
  height: 40px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.result-section .result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-section .result-list li {
  list-style: none;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.result-section .result-button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.result-section .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-mode .result-section h2 {
  color: #bb86fc;
}
.dark-mode .result-section h3 {
  color: #bb86fc;
}
.dark-mode .result-section p {
  color: #bb86fc;
}
.dark-mode .result-section .restart-button {
  background-color: rgba(54, 0, 179, 0.6470588235);
  color: white;
}
.dark-mode .result-section .result-button {
  background-color: rgba(54, 0, 179, 0.6470588235);
  color: white;
}
.dark-mode .result-section .result-list li {
  color: #bb86fc;
}/*# sourceMappingURL=style.css.map */